/* TABLET VIEW  */

@media screen and (min-width: 401px)and (max-width: 640px) {
    body {
        background: green;
    }
        /* begin nav styles tablet */
    .header-title {
        color: black;
        font-family: "Libre Baskerville", serif;
        font-size: .8rem;
    }
        /* wnd nav styles tablet  */
        .parent-me {
            display: flex;
                        flex-direction: row;
            justify-content: space-around;
            align-items: center;
            background-color: white;
            min-height: 50vh;
            align-items:
                    width:500px;

        }

        .circle-me {
        color:black;
        }


        .more-about-me {
        color:black;
        }



}
