/* LAPTOP VIEW  */

@media screen and (min-width: 641px) and (max-width: 1023px) {
    body {
        background: yellow;
    }
        /* begin nav styles laptop */
    .header-title {
        color: black;
        font-family: "Libre Baskerville", serif;
        font-size: 1rem;
    }
        /* end nav styles laptop  */
        .parent-me {
            display: flex;
                        flex-direction: row;
            justify-content: space-around;
            align-items: center;
            background-color: white;
            min-height: 50vh;
            align-items:
            width:500px;

        }

        .circle-me {
        color:black;
        }


        .more-about-me {
        color:black;
        }



}
