/* DESKTOP VIEW  */

@media screen and (min-width: 1024px) {
    body {
        background: red;
    }
    /* begin nav styles desktop */
    .header-title {
        color: black;
        font-family: "Libre Baskerville", serif;
        font-size: 1.2rem;
    }
    /* end nav styles desktop  */

    .parent-me {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        min-height: 50vh;
        padding-left: 20vh;
        padding-right: 20vh;

    }

    .circle-me {
    color:black;
    }


    .more-about-me {
    color:black;
    }
}
